{% extends './authlock.html' %}
{% block content %}
<div class="color1 outer">
    <header class="menu">
        {% include './menu.html' %}
    </header>
    <div class="plane">
        <aside class="files">
            {% include './files.html' %}
        </aside>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>
        <div class="program-elements">
            {% include './program-elements.html' %}
        </div>
        <div class="bottom">
            {% include './tabs.html' %}
        </div>
    </div>
</div>
{% endblock %}