<pre>
<code>#include &lt;stdio.h&gt;</code>
<code></code>
<code>void swap(int *xp, int *yp) </code>
<code class="light">{...}</code>
<code>  </code>
<code>// A function to implement bubble sort </code>
<code>void bubbleSort(int arr[], int n) </code>
<code class="light">{...} </code>
<code></code>
<code>/* Function to print an array */</code>
<code>void printArray(int arr[], int size) </code>
<code class="light">{...}</code>
<code></code>
<code>int bubble()</code>
<code class="light">{...}</code>
<code></code>
<code></code>
<code>int main()</code>
<code class="light">{...}</code>
</pre>