{% if error_msg %}
    {{ error_msg }}
{% else %}
{% if first_section %}
<pre>
{% for line, status in first_section %}
<code class="status {{ status }}">{{ line }}</code>{% endfor %}
</pre>
{% for lines, section, status in sections %}
<div class="tooltip">
    {% if section %}
    <div class="tooltiptext">
        {{ section }}
    </div>
    {% endif %}
<pre class="status {{ status }}">
{% for line in lines %}
<code>{{ line }}</code>{% endfor %}
</pre>
</div>
<div><code>{{ separator }}</code></div>
{% endfor %}
{% endif %}
{% endif %}