<nav id="tabs" class="tabs">
    <ul>
        <li {% if tab == 0 %}class="active"{% endif %}>{% if selected_file %}
            <a onclick="change_tab({{ selected_file.pk }}, 0)">PROVERS</a>{% endif %}
        </li>
        <li {% if tab == 1 %}class="active"{% endif %}>{% if selected_file %}
            <a onclick="change_tab({{ selected_file.pk }}, 1)">VCs</a>{% endif %}
        </li>
        <li {% if tab == 2 %}class="active"{% endif %}>{% if selected_file %}
            <a onclick="change_tab({{ selected_file.pk }}, 2)">RESULT</a>{% endif %}
        </li>
    </ul>
</nav>
<div id="tab-data" class="tab-data">
{% if selected_file %}
{% if tab == 0 %}   {% include 'codeeditor/tabs/provers.html' %}
{% elif tab == 1 %} {% include 'codeeditor/tabs/vcs.html' %}
{% elif tab == 2 %} {% include 'codeeditor/tabs/result.html' %}
{% else %}
404 - Tab doesn't exist
{% endif %}
{% endif %}
</div>